/* body{
    background-color: blue;
} */
/* type selector */
/* h1.heading,h2.heading{
    background-color: yellow;
} */

/* class selector */
/* .heading{
    background-color: yellow;
} */

/* Direct Child */
/* ul > a{
    text-decoration: none;
} */




/* 
.unorder_list a{
text-decoration: none;
} */














